body {
  color: #495460;
  padding: 2rem;
}

section + section {
  margin-top: 2rem;
}

h1 {
  font-size: 2rem;
  margin: 0 0 0.5rem 0;
}

h2 {
  font-size: 1.2rem;
  margin: 0.5rem 0;
}

a {
  color: #e67e3c;
  text-decoration: none;
  font-size: 1.2rem;
}

.box {
  margin: 0;
  padding: 0.5rem;
  background-color: #fbfbfb;
  color: #888;
  border: 1px solid #eee;
  word-break: break-all;
}

pre {
  font-size: 1rem;
}

textarea {
  width: 100%;
}
